html {
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 0.8em;
}

.border,.rounded {
	border: 0;
}

.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
}

.wide {
	-webkit-box-flex: 1 !important;
}

.padded {
	padding: 2px 4px 2px 4px;
}

.hbox {
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	position: relative;
	word-wrap: break-word;
}

.rounded {
	border-radius: 6px 0 0 6px;
	border: 1px solid #bbb;
	border-right: 0;
	background-color: White;
	margin-bottom: 5px;
}

.summary {
	opacity: 1;
	font-size: 90%;
	font-style: oblique;
}

.border-top {
	border-top: 1px solid #bbb;
}

.error {
	color: white;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(200, 0, 0) ), color-stop(0.8, rgb(230, 0, 0) ) );
}
 
.debug {
	color: white;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(6, 78, 123) ), color-stop(0.8, rgb(15, 97, 149) ) );
}

.update {
	color: white;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(0, 210, 70) ), color-stop(0.8, rgb(0, 200, 57) ) );
}

.ahtung {
	color: white;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(223, 11, 117) ), color-stop(0.8, rgb(223, 11, 117) ) );
}

